<section class="flex justify-between">
  <div class="flex items-center gap-1">
    <label for="minPrice">Price from: </label>
    <input
      #minPrice
      name="minPrice"
      type="range"
      min="0"
      max="2000"
      value="{{ (productsService.filters | async)!.minPrice }}"
      (input)="handleChangeMinPrice($event)" />
    <span>${{ (productsService.filters | async)!.minPrice }}</span>
  </div>

  <div class="flex items-center gap-1">
    <label for="category">Category</label>
    <select
      #category
      class="text-black"
      name="category"
      (input)="handleChangeCategory($event)">
      <option value="all">All</option>
      <option value="smartphones">Smartphones</option>
      <option value="laptops">Laptops</option>
    </select>
  </div>
</section>
