<li class="border-b-slate-500 pb-4">
  <img
    class="aspect-video w-full rounded"
    src="{{ product.thumbnail }}"
    alt="{{ product.title }}" />
  <div class="m-2">
    <strong>{{ product.title }}</strong> - ${{ product.price }}
  </div>
  <footer class="flex items-center justify-center gap-2">
    <small>Qty: {{ product.quantity }}</small>
    <button
      class="rounded bg-slate-800 px-3 hover:outline hover:outline-1 hover:outline-blue-400"
      (click)="addToCart()">
      +
    </button>
  </footer>
</li>
